---
import Main from '@layouts/Main.astro'
import NewProducts from '@sections/index/NewProducts.astro'
import TopSellingProducts from '@sections/index/TopSellingProducts.astro'
import PromoSection from '@sections/index/PromoSection.astro'
import Categories from '@sections/index/Categories.astro'
---

<Main title="Store for Devs" description="Declara tu estilo">
  <PromoSection />
  <NewProducts />
  <TopSellingProducts />
  <Categories />
</Main>
