---
import Main from '@layouts/Main.astro';
import NewProducts from '@sections/index/NewProducts.astro';
import TopSellingProducts from '@sections/index/TopSellingProducts.astro';
import PromoSection from './_index/PromoSection.astro';
import Categories from './_index/Categories.astro';
---

<Main title="Store for Devs" description="Declara tu estilo">
  <PromoSection />
  <NewProducts />
  <TopSellingProducts />
  <Categories />
</Main>
