---
import Main from '@layouts/Main.astro';
---

<Main title="Términos y condiciones - Store for Devs" description="Declara tu estilo">
  <section class="terms-wrapper">
    <h1>Términos y Condiciones</h1>
    <p>
      Bienvenido a Store for Devs. Estos Términos y Condiciones regulan el uso de nuestra tienda en línea y las transacciones realizadas en ella. Al
      realizar un pedido, usted acepta cumplir con estos términos en su totalidad.
    </p>
    <ol>
      <li>
        <strong>Fabricación bajo pedido:</strong> Todos los productos de Store for Devs son fabricados bajo pedido. Esto significa que cada artículo se
        produce específicamente para usted una vez que se confirma el pago.
      </li>
      <li>
        <strong>Política de pagos y devoluciones:</strong>
        <ul>
          <li>El pago completo debe ser realizado al momento de confirmar el pedido.</li>
          <li>
            Debido a la naturaleza personalizada de los productos, no se aceptarán devoluciones ni reembolsos una vez iniciado el proceso de
            fabricación.
          </li>
        </ul>
      </li>
      <li>
        <strong>Selección de tallas:</strong> Es responsabilidad del comprador asegurarse de seleccionar la talla correcta al realizar el pedido. Para
        facilitar esta elección, proporcionamos una tabla de medidas detallada en la página de cada producto. Store for Devs no se hace responsable de
        errores en la selección de tallas por parte del cliente.
      </li>
      <li>
        <strong>Proceso de fabricación y despacho:</strong>
        <ul>
          <li>El proceso de fabricación de los productos toma aproximadamente una semana.</li>
          <li>Una vez finalizada la fabricación, el pedido será despachado a la dirección proporcionada por el cliente.</li>
          <li>Store for Devs no se responsabiliza por retrasos en la entrega causados por factores externos al proceso de fabricación.</li>
        </ul>
      </li>
      <li>
        <strong>Modificaciones al pedido:</strong> No se podrán realizar cambios en el diseño, talla o detalles del producto una vez que el pedido haya
        sido confirmado y el pago realizado.
      </li>
      <li>
        <strong>Contacto:</strong> Si tiene alguna consulta o necesita asistencia, puede contactarnos a través de nuestros canales de atención al cliente
        indicados en el sitio web.
      </li>
      <li>
        <strong>Cambios en los Términos y Condiciones:</strong> Store for Devs se reserva el derecho de modificar estos Términos y Condiciones en cualquier
        momento. Las modificaciones entrarán en vigor a partir de su publicación en nuestro sitio web.
      </li>
      <li>
        <strong>Aceptación de los Términos:</strong> Al realizar un pedido en Store for Devs, usted declara haber leído, entendido y aceptado estos Términos
        y Condiciones.
      </li>
    </ol>
    <p><strong>¡Gracias por elegir Store for Devs!</strong></p>
  </section>
</Main>

<style>
  .terms-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-wrap: pretty;

    & h1 {
      margin-bottom: 1rem;
      text-align: center;
    }

    & p {
      margin-bottom: 1rem;
    }

    & ol {
      padding-left: 1rem;
    }

    & li {
      margin-bottom: 1rem;
    }

    & strong {
      font-weight: bold;
    }
  }
</style>
