---
import Promo from '@components/ui/Promo.astro';
---

<section class="promo-wrapper">
  <Promo icon="shipping" promo="Envío gratis por compras sobre $99,990" />
  <Promo icon="release" promo="Todos los meses un nuevo release" />
  <Promo icon="discount" promo="10% de descuento al pagar con transferencia" />
</section>

<style>
  .promo-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    margin: 60px;
  }
</style>
