---
import { Image } from 'astro:assets';
import logo from '@images/assets/logo.webp';
---

<div class="navbar-section">
  <nav class="navbar-wrapper">
    <div class="logo">
      <a href="/">
        <Image src={logo} alt="Store for Devs logo" width={90} />
      </a>
    </div>
    <ul class="navbar">
      <li><a href="#">Poleras</a></li>
      <li><a href="#">Polerones</a></li>
    </ul>
    <div class="account-items-wrapper">
      <ul class="account-items">
        <li><a href="#">Login</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </div>
  </nav>
</div>

<style>
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1080px;
    margin: 0 auto;

    & ul {
      list-style: none;
      padding: 0;

      display: flex;
      gap: 24px;
    }

    & a {
      text-decoration: none;
      color: var(--primary-light);
      text-transform: uppercase;
    }

    & .logo {
      margin-right: 40px;
    }

    & .navbar {
      flex: 1;

      & a {
        font-size: 20px;
        font-weight: 700;
      }
    }

    & .account-items {
      gap: 12px;
    }
  }
</style>
