---
import { Image } from 'astro:assets'
import logo from '@images/assets/logo.webp'
---

<div class="navbar-section">
  <nav class="navbar-wrapper">
    <div class="logo">
      <a href="/">
        <Image src={logo} alt="Store for Devs logo" width={90} />
      </a>
    </div>
    <ul class="navbar">
      <li><a href="#">Poleras</a></li>
      <li><a href="#">Polerones</a></li>
    </ul>
    <div class="account-items-wrapper">
      <ul class="account-items">
        <li><a href="#">Login</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </div>
  </nav>
</div>

<style>
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 16px;
    }

    & a {
      text-decoration: none;
      color: var(--primary-light);
      text-transform: uppercase;
    }

    & .logo {
      margin-right: 20px;
      
      & img {
        height: auto;
        max-width: 70px;
      }
    }

    & .navbar {
      flex: 1;
      display: none;

      & a {
        font-size: 16px;
        font-weight: 700;
      }
    }

    & .account-items {
      gap: 12px;
      
      & a {
        font-size: 14px;
      }
    }
  }

  /* Tablet */
  @media (width >= 768px) {
    .navbar-wrapper {
      padding: 20px 40px;
      
      & .logo {
        margin-right: 40px;
        
        & img {
          max-width: 80px;
        }
      }
      
      & .navbar {
        display: flex;
        
        & a {
          font-size: 18px;
        }
      }
      
      & ul {
        gap: 20px;
      }
      
      & .account-items a {
        font-size: 16px;
      }
    }
  }

  /* Desktop */
  @media (width >= 1024px) {
    .navbar-wrapper {
      flex-wrap: nowrap;
      
      & .logo img {
        max-width: 90px;
      }
      
      & .navbar a {
        font-size: 20px;
      }
      
      & ul {
        gap: 24px;
      }
    }
  }
</style>
