---
import Navbar from '@components/ui/Navbar/Navbar.astro';
import Notice from '@components/ui/Notice.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Navbar />
  <main>
    <slot />
  </main>
  <Notice />
</BaseLayout>

<style is:global>
  main {
    width: 1120px;
    padding: 0 40px;
    margin: 0 auto;
  }
</style>
