---

---

<div class="notice-wrapper">
  <p><strong>🚨 Todos nuestros productos se fabrican bajo pedido 🚨</strong></p>
</div>

<style>
  .notice-wrapper {
    width: 100%;
    padding: 0.15rem;
    background-color: var(--primary);
    color: var(--primary-dark);
    position: sticky;
    bottom: 0;
    text-align: center;
  }
</style>
